{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href = "{% static 'css/style.css' %}">
</head>
<body>
    <h1>Welcome to Fresher's Guide</h1>

    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }} 👋</p>
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>

    {% else %}
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'register' %}">Register</a>
    {% endif %}
</body>
</html>
